@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/*body{
    font-family: '', sans-serif;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #244AA5;
    padding: 0px 10%;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
header .logo{
    flex-basis: 20%;
 
}
header .logo img{
    width: 100px;   
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #fff;
    display: block;
    padding: 10px 20px; 
    border-radius: 1px; 
}
nav ul li a:hover{
    color: #D0A650;
}
.cta{
    background-color: #D0A650;
    color: #244AA5;
}
.cta:hover{
    background-color: rgb(0, 119, 255);
    color: #fff;
}


section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.rks, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.rks .rks-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #244AA5;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.rks .rks-content .left{
    width: 45%;
}
.rks .rks-content .left img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}

.rks .rks-content .right{
    width: 55%;
}
.rks .rks-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.rks .rks-content .right{
    width: 55%;
}

.rks .rks-content .right p{
    text-align: justify;
}
.rks .rks-content .right a{
    display: inline-block;
    background: #244AA5;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #244AA5;
    transition: all 0.3s ease;
}
.rks .rks-content .right a:hover{
    color: #244AA5;
    background: none;
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #244AA5;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #244AA5;
    background: #244AA5;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: #244AA5;
    background: none;
}